@font-face {
  font-family: "Indie Flower"; 
  src: url('IndieFlower.ttf'); 
} 

#title{
    text-align: center;
    font-family: "Indie Flower",sans-serif;
    font-size: 1.5vw;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:100%;
}

body{
    background-color: black;
    color:white;
}

#container-fixed {
    display: inline-block;
    text-align: center;
    max-width:100%;
}


/*figure out what to do with prefixes. Most recent versions of browsers support these without prefix- should I add them anyway?*/
.fixed{
    width:10%;
    height:10%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 5%;
    filter: gray; 
    filter: grayscale(100%); 
    transition: all .1s ease-in-out;  
    }
.fixed:hover {
    filter: none;
    filter: grayscale(0%);
    transform: scale(1.01);
    }

#space{
    font-family: "Indie Flower",sans-serif;
    text-align: left;
    padding-top:15%;
    padding-bottom: 10%;
    }

.infoim{
    position: fixed;
    top:35%;
    left:50%;
    width: 30vw;
}

.info{
    font-family: "Indie Flower", sans-serif;
    text-align: left;
}

#shieldtext{
    position: fixed;
    top: 35%;
    left: 20%;
    width: 40vw;
    height: 40vh;
    font-size: 1.5vw;
}

#compositetext{
    position: fixed;
    top: 35%;
    left: 20%;
    width: 40vw;
    height: 40vh;
    font-size: 1.5vw;
}

#cindertext{
    position: fixed;
    top: 35%;
    left: 20%;
    width: 40vw;
    height: 40vh;
    font-size: 1.5vw;
}

.bold{
    font-weight: 900
}

ul{
    list-style-position: inside;
    text-align: center;
    padding-left: 0;
}


#compositeinfo{
    position: fixed;
    top:45%;
    left: 15%;
    display: none;
  }
#composite:hover + #compositeinfo{
    display: block;
}

#shieldinfo{
    position: fixed;
    top:45%;
    left:15%;
    display: none;
  }
#shield:hover + #shieldinfo{
    display: block;
}

#cinderinfo{
    position: fixed;
    top:45%;
    left:15%;
    display: none;
  }
#cinder:hover + #cinderinfo{
    display: block;
}

footer{
    font-family: "Indie Flower", sans-serif;
    text-align: center;
    font-size: 1vw;
    position: fixed;
    top: 95%;
    width: 100%;
}
